{% extends 'base.html' %}

<title>{% block title %} Passportni  yangilash{% endblock %}</title>


{% block content %}

<div class="row">
  <div class="col-md-12 ">

    
    <h1 class=" text-center mt-5" style="color:coral">Passportni yangilash</h1>
    <div class="form-group">
          <form  method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-danger ">
              Yangilash
            </button>
          </form>
    </div>

  </div>
</div>



{% endblock content %}