{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Foydalanuvchi</h1>





<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2 ">
{% if page_user.profile_pic %}      

      <img class="rounded-circle " src="{{page_user.profile_pic.url}}" width="150" height="150"/>

{%else%}

    <img class="card-img" src="{% static 'static/theblog/images/user.jpg' %}" alt="">

{% endif %}      

  </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">
          {{page_user.user.first_name}}
          {{page_user.user.last_name}}
        </h5>
  
        <p class="small text-muted">
          Telegram :
        </p>


        <p class="card-text">
          {{page_user.bio}}
        </p>

        <p class="card-text">
          <small class="text-muted">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, fugiat.
          </small>
        </p>


      </div>
    </div>
  </div>

</div>


{% endblock %}